@CHARSET "UTF-8";
@import "compass/css3";

.flying-text-area {
  line-height: 4em;
  height: 4em;
  color: white;
  white-space: nowrap;

	.string {
		position: absolute;
		display: inline-block;
	}
}